<section style='height: 50vh; width: 80%; margin: 7rem auto'>
  <div class='d-flex justify-content-between align-items-center'>
    <a
      class='btn btn-primary'
      role='button'
      href='{{myUrl}}'
      target='_blank'
    >Join Room</a>
    <span style='font-size: 15px;'>{{myUrl}}</span>
  </div>
</section>