<section style='height: 50vh; width: 80%; margin: 7rem auto'>
  <div class='d-flex justify-content-between align-items-center'>
    <a
      class='btn btn-primary'
      role='button'
      href='{{myUrl}}'
      target='_blank'
    >Join Room</a>
    <div class='d-flex align-items-center'>
      <span style='margin-right: 20px'>Share link with attandees</span><input
        type='url'
        value='{{url}}'
        style='width: 285px;'
      />
    </div>
  </div>
</section>